    Nombre : Gozde Yazganoglu 
    email : gozde.yazganoglu@cunef.edu
    git : https://github.com/gozdeydd

# The Insurance Company Benchmark (COIL 2000)

Tipo de datos: multivariante


Resumen:

Este conjunto de datos utilizado en CoIL 2000 Challenge contiene información sobre los clientes de una compañía de seguros. Los datos consisten en 86 variables e incluyen datos de uso de productos y datos sociodemográficos derivados de códigos postales. Los datos se recopilaron para responder a la siguiente pregunta: ¿Puede predecir quién estaría interesado en comprar una póliza de seguro de caravana y dar una explicación de por qué?

Fuentes:

Propietario original y donante:

Peter van der Putten

Investigación de máquinas inteligentes

Baarsjesweg 224
1058 AA Ámsterdam
Los países bajos
+31 20 6186927

pvdputten@hotmail.com, putten@liacs.nl

Página de inicio de TIC Benchmark

Fecha de donación: 7 de marzo de 2000


Características de los datos:


La información sobre los clientes consta de 86 variables e incluye datos de uso del producto y datos sociodemográficos derivados de los códigos postales. Los datos fueron proporcionados por la empresa holandesa de minería de datos Sentient Machine Research y se basan en un problema empresarial del mundo real. El conjunto de capacitación contiene más de 5000 descripciones de clientes, incluida la información de si tienen o no una póliza de seguro de caravana. Un conjunto de prueba contiene 4000 clientes de los cuales solo los organizadores saben si tienen una póliza de seguro de caravana.

El diccionario de datos describe las variables utilizadas y sus valores.

Nota: Todas las variables que comienzan con M son variables de código postal. Dan información sobre la distribución de esa variable, p. Casa alquilada, en el área del código postal del cliente.

In [2]:
import pandas as pd
import numpy as np
import pandas_profiling as pp
from pandas_profiling import ProfileReport

In [5]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 6000)

Me perdi un poco solo mirando los nombres de columnas. Creo que tiene mas sentido en neerlandés. Para evitar equivocarme cambio nombre de las columnas y puesto en ingés para poder compartir con la comunidad luego. Mantengo los numeros de variables para que no mezclamos con dictionario.

In [4]:
cols_train = ['1_cust_subtype','2_num_houses','3_avg_hh_size','4_avg_age','5_cust_type',
        '6_rel_cat','7_rel_prot','8_rel_other','9_rel_none','10_mar_maried',
        '11_mar_liv_tog','12_mar_other','13_mar_single','14_hh_woclild','15_hh_child',
        '16_educ_high','17_educ_med','18_educ_low','19_ocup_high','20_ocup_entp',
        '21_ocup_farmer','22_ocup_mid_man','23_ocup_skilled','24_ocup_unskilled','25_sc_a',
        '26_sc_b1','27_sc_b2','28_sc_c','29_sc_d','30_home_rent',
        '31_home_ovner','32_car_1','33_car_2','34_car_0','35_health_pub', 
        '36_health_priv','37_income_30','38_income_45','39_income_75','40_income_122',
        '41_income_more','42_income_avg','43_purc_class','44_ins_amnt_3rd','45_ins_firms',
        '46_ins_agr','47_ins_car','48_ins_van','49_ins_moto','50_ins_lorry',
        '51_ins_trailer','52_ins_tractors','53_ins_agr_mach','54_ins_moped','55_ins_life',
        '56_ins_acc_pri','57_ins_acc_fam','58_ins_disab','59_ins_fire','60_ins_surf',
        '61_ins_boat','62_ins_bike','63_ins_property','64_ins_socsec','65_num_ins_3rd',
        '66_num_ins_firms','67_num_ins_agr','68_num_ins_car','69_num_ins_van','70_num_ins_moto',
        '71_num_ins_lorry','72_num_ins_trailer','73_num_ins_tractor','74_num_ins_agrmac','75_num_ins_moped',
        '76_num_ins_life','77_num_ins_acc_pri','78_num_ins_acc_fam','79_num_ins_disab','80_num_ins_fire',
        '81_num_ins_surf','82_num_ins_boat','83_num_ins_bike','84_num_ins_property','85_num_ins_socsec',
        '86_num_ins_caravan']

cols_test = ['1_cust_subtype','2_num_houses','3_avg_hh_size','4_avg_age','5_cust_type',
        '6_rel_cat','7_rel_prot','8_rel_other','9_rel_none','10_mar_maried',
        '11_mar_liv_tog','12_mar_other','13_mar_single','14_hh_woclild','15_hh_child',
        '16_educ_high','17_educ_med','18_educ_low','19_ocup_high','20_ocup_entp',
        '21_ocup_farmer','22_ocup_mid_man','23_ocup_skilled','24_ocup_unskilled','25_sc_a',
        '26_sc_b1','27_sc_b2','28_sc_c','29_sc_d','30_home_rent',
        '31_home_ovner','32_car_1','33_car_2','34_car_0','35_health_pub', 
        '36_health_priv','37_income_30','38_income_45','39_income_75','40_income_122',
        '41_income_more','42_income_avg','43_purc_class','44_ins_amnt_3rd','45_ins_firms',
        '46_ins_agr','47_ins_car','48_ins_van','49_ins_moto','50_ins_lorry',
        '51_ins_trailer','52_ins_tractors','53_ins_agr_mach','54_ins_moped','55_ins_life',
        '56_ins_acc_pri','57_ins_acc_fam','58_ins_disab','59_ins_fire','60_ins_surf',
        '61_ins_boat','62_ins_bike','63_ins_property','64_ins_socsec','65_num_ins_3rd',
        '66_num_ins_firms','67_num_ins_agr','68_num_ins_car','69_num_ins_van','70_num_ins_moto',
        '71_num_ins_lorry','72_num_ins_trailer','73_num_ins_tractor','74_num_ins_agrmac','75_num_ins_moped',
        '76_num_ins_life','77_num_ins_acc_pri','78_num_ins_acc_fam','79_num_ins_disab','80_num_ins_fire',
        '81_num_ins_surf','82_num_ins_boat','83_num_ins_bike','84_num_ins_property','85_num_ins_socsec'
            ]

In [11]:
data_train = pd.read_table('../Machine Learning Data tarea/ticdata2000.txt', header= None, names = cols_train)
data_train.shape

data_train.head()

,1_cust_subtype,2_num_houses,3_avg_hh_size,4_avg_age,5_cust_type,6_rel_cat,7_rel_prot,8_rel_other,9_rel_none,10_mar_maried,...,77_num_ins_acc_pri,78_num_ins_acc_fam,79_num_ins_disab,80_num_ins_fire,81_num_ins_surf,82_num_ins_boat,83_num_ins_bike,84_num_ins_property,85_num_ins_socsec,86_num_ins_caravan
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,0

In [12]:
data_train.dtypes.to_frame('feature_type').reset_index()

                  index feature_type
0        1_cust_subtype        int64
1          2_num_houses        int64
2         3_avg_hh_size        int64
3             4_avg_age        int64
4           5_cust_type        int64
..                  ...          ...
81      82_num_ins_boat        int64
82      83_num_ins_bike        int64
83  84_num_ins_property        int64
84    85_num_ins_socsec        int64
85   86_num_ins_caravan        int64

[86 rows x 2 columns]

mayoria de los variables son tipo categoricos o cantidad de su propiedades, por eso esperamos todo int64.

In [13]:
data_train.isnull().sum()

##no existe nulos en ningun columna

1_cust_subtype         0
2_num_houses           0
3_avg_hh_size          0
4_avg_age              0
5_cust_type            0
                      ..
82_num_ins_boat        0
83_num_ins_bike        0
84_num_ins_property    0
85_num_ins_socsec      0
86_num_ins_caravan     0
Length: 86, dtype: int64

In [8]:
data_test =pd.read_table('../Machine Learning Data tarea/ticeval2000.txt', header= None, names = cols_test)
data_test
data_test.shape

(4000, 85)

In [14]:
data_test.isnull().sum()

##no existe nulos en ningun columna

1_cust_subtype         0
2_num_houses           0
3_avg_hh_size          0
4_avg_age              0
5_cust_type            0
                      ..
81_num_ins_surf        0
82_num_ins_boat        0
83_num_ins_bike        0
84_num_ins_property    0
85_num_ins_socsec      0
Length: 85, dtype: int64

In [9]:
import sweetviz as sv
print("done")

done

In [15]:
analyze_report=sv.analyze(data_train)
analyze_report.show_html('primer_analisis.html')

                                             |                                                                …

Report primer_analisis.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [16]:
compare_report = sv.compare([data_train, "train"],[data_test, "test"])
compare_report.show_html("compare.html")

                                             |                                                                …

Report compare.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

Compare report nos enseña que los datos training y los datos de test (y evaluacion) tienen mismo propiedades. por eso por ahora no vamos a mezclar despues de entrenamiento. Data_train se va utilizar como data de enrenamiento y data_test se va utilizar para test.

In [88]:
## Quiero encontrar valores unicos por cada columna y encontrar su significado. 
## Su probabilidades nos puede dar una informacion.
##calcular probabilidad???


list_unique=[]
u = []
for i in data.columns:
    u = data[i].unique()
    list_unique.append(u)
list_unique
df_unico =

[array([33, 37,  9, 40, 23, 39, 11, 10, 41, 38, 22, 13, 31, 34, 24,  8,  7,
         3, 36, 25, 20, 12, 35, 30, 29, 32,  1, 26,  2,  4, 16,  5, 21,  6,
        18, 27, 28, 17, 15, 19]),
 array([ 1,  2,  3, 10,  5,  7,  4,  8,  6]),
 array([3, 2, 4, 1, 5]),
 array([2, 3, 1, 4, 5, 6]),
 array([ 8,  3, 10,  5,  9,  7,  2,  1,  6,  4]),
 array([0, 1, 2, 3, 4, 6, 5, 9, 7, 8]),
 array([5, 4, 3, 2, 7, 1, 6, 9, 0, 8]),
 array([1, 2, 0, 3, 4, 5]),
 array([3, 4, 5, 2, 6, 7, 0, 1, 9, 8]),
 array([7, 6, 3, 5, 0, 1, 9, 8, 2, 4]),
 array([0, 2, 1, 6, 4, 3, 5, 7]),
 array([2, 4, 3, 0, 1, 6, 5, 7, 8, 9]),
 array([1, 0, 4, 2, 3, 5, 6, 7, 8, 9]),
 array([2, 4, 3, 5, 6, 0, 1, 7, 8, 9]),
 array([6, 5, 2, 4, 3, 1, 7, 9, 8, 0]),
 array([1, 0, 3, 5, 4, 2, 6, 7, 8, 9]),
 array([2, 5, 4, 3, 1, 7, 6, 0, 8, 9]),
 array([7, 4, 2, 0, 5, 6, 8, 3, 1, 9]),
 array([1, 0, 4, 2, 3, 6, 5, 7, 9, 8]),
 array([0, 5, 1, 2, 3, 4]),
 array([1, 0, 4, 3, 2, 5, 6, 7, 8, 9]),
 array([2, 5, 7, 3, 0, 4, 1, 9, 6, 8]),
 array([5, 0, 1, 2, 8, 3, 4, 6, 7, 9]),
 array([2, 4, 0, 5, 1, 3, 7, 6, 9, 8]),
 array([1, 0, 3, 9, 2, 4, 5, 6, 7, 8]),
 array([1, 2, 5, 0, 3, 4, 8, 6, 9, 7]),
 array([2, 3, 0, 1, 4, 6, 5, 7, 8, 9]),
 array([6, 5, 4, 0, 8, 1, 2, 7, 3, 9]),
 array([1, 0, 2, 5, 3, 4, 7, 6, 9]),
 array([1, 2, 7, 5, 4, 9, 6, 0, 8, 3]),
 array([8, 7, 2, 4, 5, 0, 3, 9, 1, 6]),
 array([8, 7, 9, 6, 5, 4, 3, 2, 1, 0]),
 array([0, 1, 2, 3, 4, 6, 5, 7]),
 array([1, 2, 0, 3, 4, 6, 5, 7, 8, 9]),
 array([8, 6, 9, 7, 5, 4, 3, 1, 2, 0]),
 array([1, 3, 0, 2, 4, 5, 6, 8, 7, 9]),
 array([0, 2, 4, 1, 5, 7, 3, 9, 6, 8]),
 array([4, 0, 5, 2, 3, 1, 6, 7, 8, 9]),
 array([5, 0, 3, 9, 1, 2, 4, 6, 8, 7]),
 array([0, 2, 1, 4, 3, 5, 9, 6, 8, 7]),
 array([0, 2, 1, 3, 4, 9, 5, 7]),
 array([4, 5, 3, 6, 2, 8, 1, 7, 9, 0]),
 array([3, 4, 5, 7, 2, 6, 1, 8]),
 array([0, 2, 1, 3]),
 array([0, 1, 3, 4, 2, 6, 5]),
 array([0, 3, 4, 2]),
 array([6, 0, 5, 7, 8, 4]),
 array([0, 5, 6, 7]),
 array([0, 4, 5, 6, 7, 3]),
 array([0, 6, 4, 9]),
 array([0, 2, 1, 3, 5, 4]),
 array([0, 3, 5, 4, 6]),
 array([0, 2, 6, 4, 3]),
 array([0, 3, 2, 4, 5, 6]),
 array([0, 4, 3, 2, 5, 9, 1, 7, 6, 8]),
 array([0, 2, 4, 1, 5, 6, 3]),
 array([0, 2, 3]),
 array([0, 6, 4, 7, 5]),
 array([5, 2, 6, 0, 3, 4, 1, 7, 8]),
 array([0, 1, 3]),
 array([0, 4, 1, 5, 2, 6, 3]),
 array([0, 1]),
 array([0, 2, 1, 3, 6, 5, 4]),
 array([0, 4, 3, 2, 5]),
 array([0, 2, 1]),
 array([0, 1, 5]),
 array([0, 1]),
 array([1, 0, 2, 7, 3, 6, 4]),
 array([0, 1, 4, 2, 3]),
 array([0, 1, 8, 2]),
 array([0, 1, 2, 3]),
 array([0, 1, 2, 3]),
 array([0, 1, 2, 3, 4]),
 array([0, 1, 3, 2, 6]),
 array([0, 1, 2]),
 array([0, 1, 2, 3, 8, 4]),
 array([0, 1]),
 array([0, 1]),
 array([0, 1, 2]),
 array([1, 0, 2, 3, 5, 4, 7]),
 array([0, 1]),
 array([0, 2, 1]),
 array([0, 1, 2, 3]),
 array([0, 1, 2]),
 array([0, 1, 2]),
 array([0, 1])]

REFERENCIA

P. van der Putten y M. van Someren (eds). CoIL Challenge 2000: El caso de la compañía de seguros.
Publicado por Sentient Machine Research, Ámsterdam. También un informe técnico 2000-09 del Instituto Leiden de Ciencias Informáticas Avanzadas. 22 de junio de 2000.